{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <p>Description of movie<p>
    <ul>
        <li>Spiderman : Far From Home</li>
    </ul>
    <p>
        {% set sentence = 'Hello, ' ~ random(['Rémi', 'Pierre', 'Eric']) %}
        {{ sentence|upper }}
    </p>
    <p>
        {% if sentence == 'Hello, Pierre' %}
            Oh it's Pierre
        {% else %}
            Oh it's not Pierre
        {% endif %}
    </p>
    <ul>
        {% set posts = random([['Post 1', 'Post 2', 'Post 3'], []]) %}
        {% for post in posts %}
            <li>{{ post }}</li>
        {% else %}
            <li>Nothing yet!</li>
        {% endfor %}
    </ul>
    <p>
        {{ include('_menu.html.twig') }}
    </p>
</div>
{% endblock %}
